@import "tailwindcss";

@theme {
  --color-carbon: #1f2421;
  --color-stormy-teal: #216869;
  --color-seaweed: #49a078;
  --color-muted-teal: #9cc5a1;
  --color-alabaster: #dce1de;

  --font-sans: var(--font-inter);
  --font-heading: var(--font-fraunces);
}